body {
    background-color: #f5f5f7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #1d1d1f;
}

.container {
    max-width: 2500px;
    padding-top: 60px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1d1d1f;
    margin-bottom: 2rem;
}


.table {
    background-color: #fff;
    table-layout: fixed;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: left;
    word-wrap: break-word;
    padding: 20px;
}

.response-1 {
    background-color: #d4edda;
}

.response-3 {
    background-color: #fff3cd;
}

.response-5 {
    background-color: #f8d7da;
}

.total-row {
    font-weight: bold;
}

.question-container {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 40px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}


#totalScore {
    font-size: 1.2em;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .table {
        font-size: 0.9em;
    }

    .table th,
    .table td {
        padding: 10px;
    }
}


#responseAction {
    border-radius: 5px;
    margin-top: 20px;
}

#responseAction h2,
#responseAction h3 {
    margin-bottom: 10px;
}